<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884831250141-ju21bvbjeoto6hhlp92gisgle4ter7hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884831250141-ju21bvbjeoto6hhlp92gisgle4ter7hf</string>
	<key>API_KEY</key>
	<string>AIzaSyCyUpM4-r-bz4UOBQ6kZN-UmvxeRD7MLS8</string>
	<key>GCM_SENDER_ID</key>
	<string>884831250141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cherpApp</string>
	<key>PROJECT_ID</key>
	<string>cherpapp-8bc95</string>
	<key>STORAGE_BUCKET</key>
	<string>cherpapp-8bc95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884831250141:ios:36de93a79d7c4cd8935d34</string>
</dict>
</plist>